{% if section.settings.message %}
  <style>
    .notification-bar {
      background-color: {{ section.settings.color_bg }};
    }

    .notification-bar__message {
      color: {{ section.settings.color_text }};
    }

    {% if section.settings.logo != blank %}
      .site-header__logo-image {
        max-width: {{ section.settings.logo_max_width | escape }}px;
      }
    {% endif %}

    {% if section.settings.align_logo == 'left' %}
      .site-header__logo-image {
        margin: 0;
      }
    {% endif %}
  </style>
{% endif %}

<div data-section-id="{{ section.id }}" data-section-type="header-section" id="topMainHeader-wrapper">
  <nav class="mobile-nav-wrapper medium-up--hide" role="navigation">
    <ul id="MobileNav" class="mobile-nav">
      {% for link in linklists[section.settings.main_linklist].links %}
        {%- assign outerLoopIndex = forloop.index -%}
        {%- assign child_list_handle = link.title | handleize -%}

        <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
          {% if linklists[child_list_handle].links != blank %}
            <button type="button" class="btn--link js-toggle-submenu mobile-nav__link" data-target="{{ child_list_handle }}-{{ outerLoopIndex }}" data-level="1">
              {{ link.title }}
              <div class="mobile-nav__icon">
                {% include 'icon-chevron-right' %}
                <span class="icon__fallback-text">{{ 'layout.navigation.expand' | t }}</span>
              </div>
            </button>
            <ul class="mobile-nav__dropdown" data-parent="{{ child_list_handle }}-{{ outerLoopIndex }}" data-level="2">
              <li class="mobile-nav__item border-bottom">
                <div class="mobile-nav__table">
                  <div class="mobile-nav__table-cell mobile-nav__return">
                    <button class="btn--link js-toggle-submenu mobile-nav__return-btn" type="button">
                      {% include 'icon-chevron-left' %}
                      <span class="icon__fallback-text">{{ 'layout.navigation.collapse' | t }}</span>
                    </button>
                  </div>
                  <a href="{{ link.url }}" class="mobile-nav__sublist-link mobile-nav__sublist-header">
                    {{ link.title }}
                  </a>
                </div>
              </li>

              {% for childlink in linklists[child_list_handle].links %}
                {% assign grand_child_list_handle = childlink.title | handle %}

                <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
                  {% if linklists[grand_child_list_handle].links != blank %}
                    <button type="button" class="btn--link js-toggle-submenu mobile-nav__link mobile-nav__sublist-link" data-target="{{ grand_child_list_handle }}-{{ outerLoopIndex }}-{{ forloop.index }}">
                      {{ childlink.title }}
                      <div class="mobile-nav__icon">
                        {% include 'icon-chevron-right' %}
                        <span class="icon__fallback-text">{{ 'layout.navigation.expand' | t }}</span>
                      </div>
                    </button>
                    <ul class="mobile-nav__dropdown" data-parent="{{ grand_child_list_handle }}-{{ outerLoopIndex }}-{{ forloop.index }}" data-level="3">
                      <li class="mobile-nav__item border-bottom">
                        <div class="mobile-nav__table">
                          <div class="mobile-nav__table-cell mobile-nav__return">
                            <button type="button" class="btn--link js-toggle-submenu mobile-nav__return-btn" data-target="{{ child_list_handle }}-{{ outerLoopIndex }}">
                              {% include 'icon-chevron-left' %}
                              <span class="icon__fallback-text">{{ 'layout.navigation.collapse' | t }}</span>
                            </button>
                          </div>
                          <a href="{{ childlink.url }}" class="mobile-nav__sublist-link mobile-nav__sublist-header">
                            {{ childlink.title }}
                          </a>
                        </div>
                      </li>
                      {% for grandchildlink in linklists[grand_child_list_handle].links %}
                        <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
                          <a href="{{ grandchildlink.url }}" class="mobile-nav__sublist-link">
                            {{ grandchildlink.title | escape }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <a href="{{ childlink.url }}" class="mobile-nav__sublist-link">
                      {{ childlink.title | escape }}
                    </a>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <a href="{{ link.url }}" class="mobile-nav__link">
              {{ link.title }}
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>

  {% if section.settings.message %}
    {% if section.settings.home_page_only == false or template.name == 'index' %}
      <style>
        .announcement-bar {
          background-color: {{ section.settings.color_bg }};
        }

        .announcement-bar--link:hover {
          {% assign brightness = section.settings.color_bg | color_brightness %}

          {% if brightness <= 192 %}
            {% assign lightenAmount = 255 | minus: brightness | divided_by: 255 | times: 16 %}
            background-color: {{ section.settings.color_bg | color_lighten: lightenAmount }};
          {% else %}
            {% assign darkenAmount = 255 | divided_by: brightness | times: 8 %}
            background-color: {{ section.settings.color_bg | color_darken: darkenAmount }};
          {% endif %}
        }

        .announcement-bar__message {
          color: {{ section.settings.color_text }};
        }
      </style>

      {% if section.settings.message_link == blank %}
        <div class="announcement-bar">
      {% else %}
        <a href="{{ section.settings.message_link }}" class="announcement-bar announcement-bar--link">
      {% endif %}

        <p class="announcement-bar__message">{{ section.settings.message_text | escape }}</p>

      {% if section.settings.message_link == blank %}
        </div>
      {% else %}
        </a>
      {% endif %}

    {% endif %}
  {% endif %}

  <div id="menu--mobile">
    <a class="site-header__logo-link" href="/" itemprop="url">   
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 329 37.2">
          <path d="M9.1 8.3h5.8v14.1h9V27H9.1V8.3zm18.8 9.3c0-3 .8-5.4 2.5-7.1C32.1 8.8 34.5 8 37.5 8c3.1 0 5.5.8 7.2 2.5 1.7 1.7 2.5 4 2.5 7 0 2.2-.4 4-1.1 5.4a7.8 7.8 0 0 1-3.2 3.3c-1.4.8-3.1 1.2-5.2 1.2s-3.8-.3-5.2-1a8 8 0 0 1-3.4-3.2c-.8-1.6-1.2-3.4-1.2-5.6zm5.7 0c0 1.9.3 3.2 1 4.1.7.8 1.7 1.2 2.9 1.2s2.2-.4 2.9-1.2c.7-.8 1-2.3 1-4.3 0-1.8-.4-3-1.1-3.8a3.7 3.7 0 0 0-2.9-1.2c-1.1 0-2.1.4-2.8 1.2-.6.8-1 2.1-1 4zM50 8.3h6l4.2 13.4 4.1-13.4h5.8l-6.9 18.6H57L50 8.3zm24.7 0h15.5v4h-9.7v3h9V19h-9v3.7h9.9v4.2H74.7V8.3zm24 0h6.4l3.8 6.3 3.8-6.3h6.4l-7.3 10.8v7.8H106v-7.8L98.7 8.3zm22.5 9.3c0-3 .8-5.4 2.5-7.1s4.1-2.5 7.1-2.5c3.1 0 5.5.8 7.2 2.5 1.7 1.7 2.5 4 2.5 7 0 2.2-.4 4-1.1 5.4a7.8 7.8 0 0 1-3.2 3.3c-1.4.8-3.1 1.2-5.2 1.2s-3.8-.3-5.2-1a8 8 0 0 1-3.4-3.2c-.8-1.6-1.2-3.4-1.2-5.6zm5.8 0c0 1.9.3 3.2 1 4.1.7.8 1.7 1.2 2.9 1.2s2.2-.4 2.9-1.2c.7-.8 1-2.3 1-4.3 0-1.8-.4-3-1.1-3.8a3.7 3.7 0 0 0-2.9-1.2c-1.1 0-2.1.4-2.8 1.2-.7.8-1 2.1-1 4zm31.4-9.3h5.8v11.1c0 1.1-.2 2.1-.5 3.1a7 7 0 0 1-1.6 2.6c-.6.7-1.4 1.2-2.3 1.5-1.3.4-2.7.7-4 .6l-3-.2a9 9 0 0 1-2.7-.7c-.8-.4-1.4-.9-2-1.6-.5-.6-1-1.4-1.2-2.2-.3-1-.5-2.1-.5-3.2v-11h5.8v11.4c0 1 .3 1.8.8 2.4a3 3 0 0 0 2.3.9c1 0 1.8-.3 2.3-.8.6-.6.8-1.4.8-2.4V8.3zm12.2 18.6V8.3h9.6c1.8 0 3.1.2 4.1.5.9.3 1.7.9 2.3 1.7a5.2 5.2 0 0 1-1.3 7.3l-.3.2c-.6.4-1.3.6-2 .7l1.5.7c.3.3.7.6.9 1 .3.4.6.7.8 1.2L189 27h-6.5l-3.1-5.7c-.4-.7-.7-1.2-1-1.4-.4-.3-.9-.4-1.4-.4h-.5v7.6l-5.9-.2zm5.8-11.1h2.4l1.5-.2c.4-.1.7-.3.9-.6.6-.8.5-1.8-.2-2.5-.4-.3-1.1-.5-2.1-.5h-2.5v3.8zm21.5-7.5h5.8v14.1h9V27h-14.8V8.3zm20.3 0h5.8v18.6h-5.8V8.3zm12.5 0h5.4l7 10.3V8.3h5.4v18.6h-5.4l-7-10.2v10.2h-5.4V8.3zm24.3 0h15.4v4h-9.7v3h9V19h-9v3.7h9.9v4.2H255V8.3zm21.4 0h5.4l7 10.3V8.3h5.4v18.6h-5.4l-7-10.2v10.2h-5.4V8.3zm23.3 12.5l5.5-.3c.1.9.4 1.6.7 2 .6.8 1.4 1.1 2.5 1.1.8 0 1.5-.2 1.9-.6.7-.5.9-1.6.3-2.3l-.3-.3c-.4-.4-1.4-.7-3-1.1-2.5-.6-4.3-1.3-5.4-2.3a4.2 4.2 0 0 1-1.6-3.6 5 5 0 0 1 3.3-4.7c1.1-.5 2.6-.7 4.6-.7 2.4 0 4.2.4 5.5 1.3 1.3.9 2 2.3 2.2 4.2l-5.4.3c-.1-.8-.4-1.4-.9-1.8-.5-.4-1.1-.6-1.9-.6-.7 0-1.2.1-1.5.4-.3.2-.5.6-.5 1 0 .3.2.6.4.8.3.2.9.5 1.9.7 2.5.5 4.3 1.1 5.4 1.6 1 .5 1.8 1.2 2.4 2.1.5.8.8 1.8.7 2.8 0 1.2-.3 2.3-1 3.3s-1.6 1.8-2.8 2.3c-1.2.5-2.7.8-4.5.8-3.2 0-5.4-.6-6.6-1.8a7.6 7.6 0 0 1-1.9-4.6z" fill="#fff"/>
        </svg>
    </a>

    <ul>
     {% include 'site-nav' %}

    </ul>

   </div>

  
  <header class="site-header{% if section.settings.align_logo == 'left' %} border-bottom logo--left{% else %} logo--center{% endif %}" role="banner">
    <div class="grid grid--no-gutters grid--table">
      {% if section.settings.align_logo == 'center' %}
        <div class="grid__item small--hide medium-up--one-third">
          <div class="site-header__search">
            {% include 'search-form' %}
          </div>
        </div>
      {% endif %}

      {% if section.settings.align_logo == 'center' %}
        {%- assign logo_classes = 'medium-up--one-third logo-align--center' -%}
      {% else %}
        {%- assign logo_classes = 'medium-up--one-quarter logo-align--left' -%}
      {% endif %}

      <div class="grid__item small--one-half medium-up--one-third">
        {% comment %}
          Use the uploaded logo from theme settings if enabled.
          Site name gets precedence with H1 tag on homepage, div on other pages.
        {% endcomment %}
        {% if template.name == 'index' %}
          <h1 class="h2 site-header__logo" itemscope itemtype="http://schema.org/Organization">
        {% else %}
          <div class="h2 site-header__logo" itemscope itemtype="http://schema.org/Organization">
        {% endif %}
          {% if section.settings.logo %}
            {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <a href="/" itemprop="url" class="site-header__logo-image{% if section.settings.align_logo == 'center' %} site-header__logo-image--centered{% endif %}">
              {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
              <img class="lazyload js"
                   src="{{ 'logo.svg' | asset_url  }}"
                   data-src="{{ img_url }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ logo_alt | escape }}"
                   style="max-width: {{ section.settings.logo_max_width }}px">
              <noscript>
                {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                <img src="{{ section.settings.logo | img_url: image_size }}"
                     srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                     alt="{{ section.settings.logo.alt | default: shop.name }}"
                     itemprop="logo"
                     style="max-width: {{ section.settings.logo_max_width }}px;">
              </noscript>
            </a>
          {% else %}
            <a class="site-header__logo-link" href="/" itemprop="url">
          
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 329 37.2">
              <path d="M9.1 8.3h5.8v14.1h9V27H9.1V8.3zm18.8 9.3c0-3 .8-5.4 2.5-7.1C32.1 8.8 34.5 8 37.5 8c3.1 0 5.5.8 7.2 2.5 1.7 1.7 2.5 4 2.5 7 0 2.2-.4 4-1.1 5.4a7.8 7.8 0 0 1-3.2 3.3c-1.4.8-3.1 1.2-5.2 1.2s-3.8-.3-5.2-1a8 8 0 0 1-3.4-3.2c-.8-1.6-1.2-3.4-1.2-5.6zm5.7 0c0 1.9.3 3.2 1 4.1.7.8 1.7 1.2 2.9 1.2s2.2-.4 2.9-1.2c.7-.8 1-2.3 1-4.3 0-1.8-.4-3-1.1-3.8a3.7 3.7 0 0 0-2.9-1.2c-1.1 0-2.1.4-2.8 1.2-.6.8-1 2.1-1 4zM50 8.3h6l4.2 13.4 4.1-13.4h5.8l-6.9 18.6H57L50 8.3zm24.7 0h15.5v4h-9.7v3h9V19h-9v3.7h9.9v4.2H74.7V8.3zm24 0h6.4l3.8 6.3 3.8-6.3h6.4l-7.3 10.8v7.8H106v-7.8L98.7 8.3zm22.5 9.3c0-3 .8-5.4 2.5-7.1s4.1-2.5 7.1-2.5c3.1 0 5.5.8 7.2 2.5 1.7 1.7 2.5 4 2.5 7 0 2.2-.4 4-1.1 5.4a7.8 7.8 0 0 1-3.2 3.3c-1.4.8-3.1 1.2-5.2 1.2s-3.8-.3-5.2-1a8 8 0 0 1-3.4-3.2c-.8-1.6-1.2-3.4-1.2-5.6zm5.8 0c0 1.9.3 3.2 1 4.1.7.8 1.7 1.2 2.9 1.2s2.2-.4 2.9-1.2c.7-.8 1-2.3 1-4.3 0-1.8-.4-3-1.1-3.8a3.7 3.7 0 0 0-2.9-1.2c-1.1 0-2.1.4-2.8 1.2-.7.8-1 2.1-1 4zm31.4-9.3h5.8v11.1c0 1.1-.2 2.1-.5 3.1a7 7 0 0 1-1.6 2.6c-.6.7-1.4 1.2-2.3 1.5-1.3.4-2.7.7-4 .6l-3-.2a9 9 0 0 1-2.7-.7c-.8-.4-1.4-.9-2-1.6-.5-.6-1-1.4-1.2-2.2-.3-1-.5-2.1-.5-3.2v-11h5.8v11.4c0 1 .3 1.8.8 2.4a3 3 0 0 0 2.3.9c1 0 1.8-.3 2.3-.8.6-.6.8-1.4.8-2.4V8.3zm12.2 18.6V8.3h9.6c1.8 0 3.1.2 4.1.5.9.3 1.7.9 2.3 1.7a5.2 5.2 0 0 1-1.3 7.3l-.3.2c-.6.4-1.3.6-2 .7l1.5.7c.3.3.7.6.9 1 .3.4.6.7.8 1.2L189 27h-6.5l-3.1-5.7c-.4-.7-.7-1.2-1-1.4-.4-.3-.9-.4-1.4-.4h-.5v7.6l-5.9-.2zm5.8-11.1h2.4l1.5-.2c.4-.1.7-.3.9-.6.6-.8.5-1.8-.2-2.5-.4-.3-1.1-.5-2.1-.5h-2.5v3.8zm21.5-7.5h5.8v14.1h9V27h-14.8V8.3zm20.3 0h5.8v18.6h-5.8V8.3zm12.5 0h5.4l7 10.3V8.3h5.4v18.6h-5.4l-7-10.2v10.2h-5.4V8.3zm24.3 0h15.4v4h-9.7v3h9V19h-9v3.7h9.9v4.2H255V8.3zm21.4 0h5.4l7 10.3V8.3h5.4v18.6h-5.4l-7-10.2v10.2h-5.4V8.3zm23.3 12.5l5.5-.3c.1.9.4 1.6.7 2 .6.8 1.4 1.1 2.5 1.1.8 0 1.5-.2 1.9-.6.7-.5.9-1.6.3-2.3l-.3-.3c-.4-.4-1.4-.7-3-1.1-2.5-.6-4.3-1.3-5.4-2.3a4.2 4.2 0 0 1-1.6-3.6 5 5 0 0 1 3.3-4.7c1.1-.5 2.6-.7 4.6-.7 2.4 0 4.2.4 5.5 1.3 1.3.9 2 2.3 2.2 4.2l-5.4.3c-.1-.8-.4-1.4-.9-1.8-.5-.4-1.1-.6-1.9-.6-.7 0-1.2.1-1.5.4-.3.2-.5.6-.5 1 0 .3.2.6.4.8.3.2.9.5 1.9.7 2.5.5 4.3 1.1 5.4 1.6 1 .5 1.8 1.2 2.4 2.1.5.8.8 1.8.7 2.8 0 1.2-.3 2.3-1 3.3s-1.6 1.8-2.8 2.3c-1.2.5-2.7.8-4.5.8-3.2 0-5.4-.6-6.6-1.8a7.6 7.6 0 0 1-1.9-4.6z" fill="#fff"/>
            </svg>
            </a>
            {% comment %} <a class="site-header__logo-link" href="/" itemprop="url">{{ shop.name }}</a> {% endcomment %}
          {% endif %}
        {% if template.name == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}
      </div>
  
      {% if section.settings.align_logo == 'left' %}
        <nav class="grid__item medium-up--tree-quarter small--hide" id="AccessibleNav" role="navigation">
          {% include 'site-nav' %}
        </nav>
      {% endif %}

      <div class="grid__item small--one-half {% if section.settings.align_logo == 'left' %}medium-up--one-quarter{% else %}medium-up--one-third{% endif %} text-right site-header__icons{% if shop.customer_accounts_enabled %} site-header__icons--plus{% endif %}">
        <div class="site-header__icons-wrapper">
          {% if section.settings.align_logo == 'left' %}
            <div class="site-header__search small--hide">
              {% include 'search-form' %}
            </div>
          {% endif %}

          <button type="button" class="btn--link site-header__search-toggle js-drawer-open-top medium-up--hide small--hide">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
          </button>

          {% if shop.customer_accounts_enabled %}
            {% if customer %}
              <a href="/account" class="site-header__account">
                {% include 'icon-login' %}
                <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
              </a>
            {% else %}
              <a href="/account/login" class="site-header__account">
                {% include 'icon-login' %}
                <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
              </a>
            {% endif %}
          {% endif %}

          <a href="/cart" class="site-header__cart small--hide">
            {% include 'icon-cart' %}
            <span class="visually-hidden">{{ 'layout.cart.title' | t }}</span>
            <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
            {% if cart.item_count > 0 %}
              <div id="CartCount" class="site-header__cart-count">
                <span>{{ cart.item_count }}</span>
                <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
              </div>
            {% endif %}
          </a>

          {% unless linklists[section.settings.main_linklist] == blank %}
            <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
              {% include 'icon-hamburger' %}
              {% include 'icon-close' %}
              <span class="icon__fallback-text">{{ 'layout.navigation.toggle' | t }}</span>
            </button>
          {% endunless %}
        </div>

      </div>
    </div>

  </header>



  {% if section.settings.align_logo == 'center' %}
  <nav class="small--hide border-bottom" id="AccessibleNav" role="navigation">
    {% include 'site-nav', nav_alignment: 'site-nav--centered' %}
  </nav>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "radio",
        "id": "align_logo",
        "label": "Logo alignment",
        "default": "left",
        "options": [
          {"value": "left", "label": "Left"},
          {"value": "center", "label": "Centered"}
        ]
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "message",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "Home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "message_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "message_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Bar",
        "default": "#7796a8"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#fff"
      }
    ]
  }
{% endschema %}
